@{
    Layout = null;
    var v = DateTime.Now.Ticks;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8">
    <meta content="供应链管理，智能工厂，流程管理，服装可视化管理" name="keywords">
    <meta content="中国市场最通用的智能工厂服装可视化管理平台，供应链管理，功能强大，2016年开始运营" name="description">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>智能工厂-厂盟科技</title>
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    <link href="/modules/css/base.css?v=@v" rel="stylesheet" />
    <link href="/modules/css/layout.css?v=@v" rel="stylesheet" />
    <link href="/modules/css/home/login.css?v=@v" rel="stylesheet" />
    <link href="/modules/css/api.css?v=@v" rel="stylesheet" />

    <script src="/Scripts/sea.js?v=@v" type="text/javascript"></script>
    <script src="/Scripts/sea-config.js?v=@v" type="text/javascript"></script>
    <script src="/modules/scripts/api.js?v=@v" type="text/javascript"></script>
    <script src="/modules/scripts/sha1.js?v=@v"  type="text/javascript"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/login"], function (login) {
            login.initLogin('@ViewBag.ReturnUrl');
        });

        //apiready = function () {
        //    var userId = api.deviceId + "333";
        //    $("#btnLogin").click(function () {
        //        var push = api.require('push');
        //        push.bind({
        //            userName: 'testName',
        //            userId: userId
        //        }, function (ret, err) {
        //            if (ret.status) {
        //                api.alert({ msg: '绑定成功' });
        //            } else {
        //                api.alert({ msg: err.msg });
        //            }
        //        });
        //    });

        //    $("#sendPush").click(function () {
        //        var now = Date.now();
        //        var appKey = SHA1("A6925589056031" + "UZ" + "97A4C2DD-D654-ACE3-CF21-5D8874D2ACF4" + "UZ" + now) + "." + now;
        //        api.ajax({
        //            url: 'https://p.apicloud.com/api/push/message',
        //            method: "post",
        //            headers: {
        //                "X-APICloud-AppId": "A6925589056031",
        //                "X-APICloud-AppKey": appKey
        //            },
        //            dataType: "json",
        //            data: {
        //                "values": {
        //                    "title": "智能工厂消息",
        //                    "content": "消息内容" + now,
        //                    "type": 2, //– 消息类型，1:消息 2:通知
        //                    "platform": 2, //0:全部平台，1：ios, 2：android
        //                    //    "groupName" : "department", //推送组名，多个组用英文逗号隔开.默认:全部组。eg.group1,group2 .
        //                    "userIds": userId //推送用户id, 多个用户用英文逗号分隔，eg. user1,user2。
        //                }
        //            }
        //        }, function (ret, err) {
        //            if (err == "") {
        //                alert("发送成功")
        //            }
        //        });

        //    });
        //}
    </script>
</head>
<body>
    <div class="login-body">
        <div class="main">
            <div class="login-title">
                 <div class="left"><img src="/modules/images/logo_login.png"  style="width:28px;"/></div>
                 <div class="loginTitle left mLeft5">厂盟科技</div>
                 <div class="clear"></div>
            </div>

            <div class="login">
                <div class="registerErr hide"></div>
                <div class="loginbar">
                    <input type="text" class="input" id="iptUserName" placeholder="请输入账号" value="@ViewBag.UserName" maxlength="25"/>
                </div>
                <div class="loginbar" style="position:relative;">
                    <input type="password" class="input" id="iptPwd"/>
                    <div class="txtBoxPassword">请输入密码</div>
                </div>
                <div class="btnLogin mTop20" id="btnLogin">登录</div>
           @*     <div class="btnLogin mTop20" id="sendPush">send push</div>
                <div class="btnLogin mTop20" id="sendPush2">behind send push</div>*@
            </div>
        </div>
    </div>
</body>
</html>
