@{
    Layout = null;
    var v = DateTime.Now.Ticks;
    var BindAccountType = ViewBag.BindAccountType;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8">
    <meta content="供应链管理，智能工厂，流程管理，服装可视化管理" name="keywords">
    <meta content="中国市场最通用的智能工厂服装可视化管理平台，供应链管理，功能强大，2016年开始运营" name="description">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <title>智能工厂-厂盟科技</title>
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    <link href="/modules/css/base.css?v=@v" rel="stylesheet" />
    <link href="/modules/css/layout.css?v=@v" rel="stylesheet" />
    <link href="/modules/css/home/login.css?v=@v" rel="stylesheet" />
    <link href="/modules/css/api.css?v=@v" rel="stylesheet" />

    <script src="/Scripts/sea.js?v=@v" type="text/javascript"></script>
    <script src="/Scripts/sea-config.js?v=@v" type="text/javascript"></script>
    <script type="text/javascript">
        seajs.use(["scripts/login"], function (login) {
            login.initLogin('@ViewBag.ReturnUrl', '@BindAccountType');
        });
    </script>
</head>
<body>
    <div class="login-body">
        <div class="main">
            @{if (BindAccountType==0){
            <div class="login-title">
                 <div class="left"><img src="/modules/images/logo_login.png"  style="width:28px;"/></div>
                 <div class="loginTitle left mLeft5">厂盟智能 </div>
                 <div class="clear"></div>
            </div>
            }
            else{
             <div class="login-bind">您的微信还未绑定 <span style="color:#000;font-size:20px;">厂盟智能</span> 帐号</div>
            }}
            <div class="login">
                <div class="registerErr hide"></div>
                <div class="loginbar">
                    <input type="text" class="input" id="iptUserName" placeholder="请输入账号" value="@ViewBag.UserName" maxlength="25"/>
                </div>
                <div class="loginbar" style="position:relative;">
                    <input type="password" class="input" id="iptPwd"/>
                    <div class="txtBoxPassword">请输入密码</div>
                </div>
                <div class="btnLogin mTop20" id="btnLogin">@(BindAccountType==0?"登录":"绑定")</div>
            </div>
        </div>
    </div>
</body>
</html>
