@media screen and (max-width:620px) {

    nav ul li { width:23.333%;}

    nav ul .buy-plan {width:30%; }

    .return-msg .box-returnmsg { width:70%;}

    .return-msg .box-submit { width:18%;}

}

@media screen and (max-width:414px) {

    nav ul li { width:20%;}

    nav ul .buy-plan {width:40%; }

    .return-msg .box-returnmsg { width:60%;}

    .return-msg .box-submit { width:28%;}

}
@media screen and (max-width:375px) {

    .main-info .left-task-info {margin-left:10px;}

    .main-info .right-task-info {margin-right:10px;}

    .task-info .order-need { margin-left:10px;margin-right:10px;}

    .shop-status .plan-info { margin:0 10px 10px 10px;}

    nav ul li { width:20%;}

    nav ul .buy-plan { width: 40%; }

    .send-other .talk-other,.send-self .talk-self { width:64%;}

    .send-other .return-other .iconfont,.talk-self .return-self .iconfont { font-size:1.0em;color:#a8a8a8;}

}

