
/*透明遮罩*/
.mask-shade {width:100%;height:100%;position:fixed;z-index:330;background-color:rgba(255,255,255,0);left:0px;top:0;display:none;}
/*头部*/
.header{width:100%;height:80px;border-bottom:1px solid #b2b2b2;background-color:#F8F8F8;position:fixed;left:0;top:0;z-index:100;color:#666;}
.header li{float:left;width:33%;font-size:24px;height:50px;text-align:center;margin-top:30px;}
.header li:last-child{float:right;margin-top:25px;text-align:right;}
/*遮罩*/
.shade { width:100%;height:100%;position:fixed;z-index:402;background-color:rgba(143,143,143,0.6);display:none;}
.search {width:100%;height:80px;background-color:#D5D5D5;line-height:80px;position:fixed;top:0;z-index:430;display:none;}
.search span { float:left;display:block;}
.search span:first-child {margin-left:20px; width:75%;}
.search span .txt-search {width:95%;height:60px;border-radius:5px;border:1px solid #CCC;font-size:22px;padding-left:40px; color:#999;background:url(/modules/images/Zoom.gif) no-repeat center left;background-color:#fff;margin-top:-3px;background-size:2em;}
.search span:last-child {font-size:28px;color:#646464;height:30px;float:right;margin-right:30px;}
/*进行状态*/
.task-status{width:100%;height:100px;border-bottom:1px solid #b2b2b2;margin-top:80px;}
.task-status li{width:25%;float:left;}
.task-status li:first-child div{color:#007aff;cursor:pointer; }
.task-status li:first-child a{color:#007aff;cursor:pointer;}
.task-status .ico-status{height:20px;margin-top:25px;text-align:center;font-size:22px;color:#666;}
.task-status li a{height:30px;margin-top:12px;text-align:center;color:#666;display:inline-block;width:100%;font-size:18px;}
/*选择条件的css样式*/
.select{width:100%;height:50px;border-bottom:1px solid #ccc;}
.select a{color:#999;font-size:16px;}
.select li{width:25%;float:left;border-right:1px solid #ccc;height:50px;margin-left:-1px;text-align:center;line-height:50px;}
/*选项下拉*/
.dropdownlist { position:relative;}
/*类型下拉*/
.dropdownlist ul{box-shadow:2px 4px 10px #ccc;}/*边框阴影*/
.dropdownlist li{font-size:12px;color:#999;padding-top:7px;padding-bottom:7px;}
.dropdownlist .tab-type{border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
/*流程下拉*/
.dropdownlist .flow-type{border:1px solid #ccc;border-top:0;left:25%;margin-left:-1px;}
/*筛选下拉*/
.dropdownlist .screen-type{border:1px solid #ccc;border-top:0;left:50%;margin-left:-1px;}
/*排序下拉*/
.dropdownlist .tab-screen {border:1px solid #ccc;border-top:0;left:75%;margin-left:-2px;}
/*列表*/
.list .listabove{width:100%;border-bottom:1px solid #dfdfdf;}
.list .listabove li{float:left;margin-top:30px;}
.list li:first-child img{width:200px;height:200px;margin-bottom:30px;margin-left:20px;margin-right:20px;}
.list li:last-child { float:right;}
/*标记颜色*/
.list li .write-tag{border:1px solid #ccc;background-color:#fff;}
.list li .red-tag{background-color:#FF7C7C;}
.list li .green-tag{background-color:#3BB3FF;}
.list li .purple-tag{background-color:#9F74FF;}
.list li .orange-tag{background-color:#FFC85D;}
.list li .yellow-tag{background-color:#FFF65F;}
/*类型*/
.list .last-stage .shape{ margin-top:155px;margin-left:-60px;color:#999;margin-right:20px;}
/*列表详情*/
.list .listabove .center-list-task {font-size:20px;color:#999;}
/*状态图标(不同的图标颜色)*/
.list .details .status-proceed { color:#09aa4a;}
/*信息文字*/
.list .center-list-task .details {margin-bottom:50px; }
.list .center-list-task .stage {height:30px;margin-top:21px;font-size:18px;}
/*无数据*/
.list .nodata {color:#999; margin-top:20%;margin-left:45%;font-family:'Microsoft YaHei'; }
/*加载状态图片*/
.list .listbg { background:url(/modules/images/img.gif) no-repeat left center;height:40px;margin-left:48%;width:40px;background-size:40px;}
/*返回顶部*/
.getback { position:fixed;z-index:555;color:#007aff;right:5%;bottom:8%;display:none;}
.getback span{right:10%;}



