/*头部*/
.header{width:100%;height:50px;border-bottom:1px solid #b2b2b2;background-color:#F8F8F8;position:fixed;left:0;top:0;z-index:100;}
.header li{float:left;width:33%;}
.header li:hover{color:#007aff;}
.header li .head{height:25px;text-align:center;margin-top:15px;}
.header .head .iconfont{color:#666;}
.header li .head-menu{margin-left:-30px;}
.header li #cancel-header{margin-right:-30px;margin-top:5px;}
/*遮罩*/
.shade { width:100%;height:100%;position:fixed;z-index:102;background-color:rgba(143,143,143,0.6);left:0px;top:0;display:none;}
.shade .search {width:100%;height:50px;background-color:#D5D5D5;line-height:50px;}
.shade .search span { float:left;display:block;}
.shade .search span:first-child {margin-left:20px; width:75%;}
.shade .search .span-search{}
.search span .txt-search {width:100%;line-height:40px;border-radius:5px;border:1px solid #CCC;font-size:0.8em;text-indent:2.5em;color:#666;background:url(/modules/images/Zoom.gif) no-repeat;background-color:#fff;background-position-y:center;margin-top:-3px}
.shade .search span:last-child {width:40px;text-align:center;color:#FFFDFD;background-color:#007aff;height:30px;line-height:30px;margin-top:10px;margin-left:10px;border:1px solid #ccc;border-radius:20%;}
/*进行状态*/
.task-status{width:100%;height:60px;border-bottom:1px solid #b2b2b2;margin-top:40px;}
.task-status li{width:25%;float:left;}
.task-status li .iconfont-status:hover{color:#007aff;}
.task-status li .iconfont-status-ico:hover{color:#007aff;}
.task-status li a:hover{color:#007aff;}
.task-status li .ico-status{height:20px;margin-top:15px;text-align:center;}
.task-status li a{height:30px;margin-top:5px;text-align:center;color:#666;display:inline-block;width:100%;font-size:0.7em;}
.task-status .ico-status .iconfont{color:#666;}
/*选择条件的css样式*/
.select{width:100%;height:50px;border-bottom:1px solid #ccc;}
.select a{color:#999;font-size:0.7em;}
.select li{width:25%;float:left;border-right:1px solid #ccc;height:50px;margin-left:-1px;margin-top:-10px;}
.select li .copy{height:30px;margin-top:15px;text-align:center;}
.select .copy .iconfont{color:#666;}
/*选项菜单*/
.select-box { position:relative;}
/*类型*/
.select-box .option { width:100%;border:1px solid #ccc;position:absolute;z-index:333;left:0;display:none;}
.select-box .option .option-type{width:25%;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}

/*高级筛选*/
.select-box .tab-screen { position:absolute;left:0;bottom:-120px;background-color:rgba(239,239,239,0.9);width:100%;display:none;}
.tab-screen ul {width:100%; }
.tab-screen ul li { float:left;color:#666;font-size:0.8em;line-height:40px;margin-left:20px;width:20%;}
.tab-screen ul li:first-child { width:30px;color:#007aff;}
.tab-screen ul li:nth-child(2) { margin-left:5px;}
/*列表*/
.list .listabove{width:100%;display:block;margin-top:30px;border-bottom:1px solid #dfdfdf;padding-bottom:30px;}
.list .listabove li{width:120px;height:120px;float:left;margin-left:15px;}
.list li:first-child img{width:100%;height:100%;}
.list .listabove li:last-child{margin-right:10px;width:2px;height:15px;border:1px solid #e0483e;background-color:#e0483e;margin-left:10%;}
.list .listabove .center-list-task { margin-left:10px;font-size:0.6em;color:#999;}
.list .details .details-name {color:#666; }
.list .center-list-task .details {width:12em; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.list .center-list-task .details:hover {overflow:visible;}
.list .center-list-task .time { background:url(/modules/images/times.jpg)no-repeat;background-size:15px;background-position-y:center;padding-left:15px;}
.list .center-list-task .stage { }
/*.list .center-list-task .center-task { margin-top:-5px;}
.list .center-task .details-icon { float:left;margin-right:5px;}
.list .center-task a { font-size:0.7em;color:#666;}
.list .center-task .stage{ color:#999;}
.list .center-task .stage-specific{ color:#999;}
.list .center-task .details-taskname { width:60%; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list .center-task .details-taskname:hover{ overflow:visible;}
.list .time a { color:#999;font-size:0.6em;height:10px;line-height:21px;}
.list .center-task .start-time { float:left;}*/

