<!DOCTYPE html>
@{

}
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noindex,nofollow">
    <link href="~/modules/css/base.css" rel="stylesheet" />
    <link href="~/modules/css/layout.css" rel="stylesheet" />
    <link href="~/modules/iconfont/iconfont.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/doT.js"></script>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    @RenderSection("css", false)
</head>
<body>

    @RenderBody()



    @RenderSection("scripts", false)
</body>
    
</html>
