@{
    //string pageName = (string)Model;
}
    <nav class="mui-bar mui-bar-tab" id="footer">
        <a class="mui-tab-item" href="javascript:void(0);" name="task" data-href="/task/list">
            <span class="mui-icon mui-icon-compose"></span>
            <span class="mui-tab-label">任务</span>
        </a>
        <a class="mui-tab-item " href="javascript:void(0);" name="order" data-href="/orders/list">
            <span class="mui-icon mui-icon-list"></span>
            <span class="mui-tab-label">订单</span>
        </a>
        <a class="mui-tab-item" href="javascript:void(0);" name="customer" data-href="/customer/list">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">客户</span>
        </a>
        <a class="mui-tab-item" href="javascript:void(0);" name="passport" data-href="/passport/index">
            <span class="mui-icon mui-icon-gear"></span>
            <span class="mui-tab-label">我的</span>
        </a>
    </nav>
