@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>任务列表</title>
    <link href="~/modules/css/common.css" rel="stylesheet" />    
    <link href="~/modules/css/task/tasklist.css" rel="stylesheet" />    
    <link href="~/modules/iconfont/ux_1460342755_7796638/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/sea.js"></script>
    <script type="text/javascript">
        seajs.use("/modules/scripts/task/tasklist.js", function (data) {
            data.init();
        });
    </script>
</head>
<body>
    @* 遮罩 *@
    <div class="shade">
        <div class="search"> 
          <span class="span-search"><input type="text" class="txt-search" placeholder="请输入客户名称搜索" /></span>
          <span class="cencal">确定</span>
        </div>
    </div>
    @* 头部 *@
    <header>
        <ul class="header">
            <li>
                <div class="head head-menu"><i class="iconfont">&#xe60d;</i></div>
            </li>
            <li>
                <div class="head">我的任务</div>                
            </li>
            <li>
                <div class="head" id="cancel-header"><i class="iconfont iconfont-search">&#xe605;</i></div>  
            </li>
        </ul>
    </header>    
    @* 选择状态 *@
    <ul class="task-status">
            <li>
                <div class="ico-status"><i class="iconfont-status-ico iconfont">&#xe61b;</i></div>
                <a class="all-a">全部</a>
            </li>
            <li>
                <div class="ico-status">
                    <i class="iconfont-status iconfont">&#xe61e;</i>
                </div>
                <a class="unreceived-a">未接受</a>
            </li>
            <li>
                <div class="ico-status"><i class="iconfont-status iconfont" id="iconfont-underway">&#xe621;</i></div>
                <a class="underway-a">进行中</a>
            </li>
            <li>
                <div class="ico-status"><i class="iconfont-status iconfont" id="iconfont-underway-accom">&#xe61f;</i></div>
                <a class="accomplish-a">已完成</a>
            </li>
        </ul>
    <div class="select-box"> 
        @* 选项 *@  
         <ul class="select">
             <li><div class="copy" id="type-a" data-type="0">
                 <a class="type-a">类型</a>
                 <i class="iconfont-select iconfont" id="iconfont-type">&#xe61c;</i>
             </div></li>
             <li><div class="copy" id="flow-a" data-flow="0">
                 <a class="flow-a">流程</a>
                 <i class="iconfont-select iconfont" id="iconfont-flow">&#xe61c;</i>
             </div></li>
             <li><div class="copy" id="screen-a" data-screen="0">
                 <a class="screen-a">筛选</a>
                 <i class="iconfont-select iconfont" id="iconfont-screen">&#xe61c;</i>
             </div></li>
             <li><div class="copy" id="select-copy" data-select="0">
                 <a>高级筛选</a>            
             </div></li> 
         </ul>
        @* 选项详细下拉 *@           
        <div class="dropdownlist">
            @* 类型下拉 *@            
            <div class="tab-type">
                <ul class="option"> 
                    <li class="all-type">全部</li>                 
                    <li class="DY-type">打样</li>
                    <li class="DH-type">大货</li>                        
                </ul>                
             </div>            
        
            @* 流程下拉 *@
           <div class="flow-type">
                <ul class="potion">
                    <li class="all-flow">全部流程</li>
                    <li class="DY-flow">打样流程</li>
                    <li class="DH-flow">大货流程</li>
                    <li class="SC-flow">生产线</li>
                </ul>
           </div>
            @* 筛选下拉 *@
            <div class="screen-type">
                <ul class="potion">
                    <li class="all-screen">全部</li>
                    <li class="GC-screen">工厂</li>
                    <li class="ZH-screen">自助</li>
                    <li class="AL-screen">阿里</li>
                </ul>
            </div>        
        </div>
        @* 高级筛选 *@
        <div class="tab-screen" id="tab-screen">
                <ul>
                    <li>类型:</li>
                    <li>打样</li>
                    <li>大货</li>
                    <li>全部</li>
                </ul>
                <div style="clear:both"></div>
                <ul>
                    <li>流程:</li>
                    <li>进行中</li>
                    <li>未完成</li>
                    <li>终止</li>
                </ul>
                <div style="clear:both"></div>
                <ul>
                    <li>任务:</li>
                    <li>材料</li>
                    <li>制版</li>
                    <li>全部</li>
                </ul>
            </div>
     </div> 
    @* 任务列表 *@
    <div class="list">
        <ul class="listabove row">
            <li>
                <img src="~/modules/images/10.jpg" />
            </li>     
            <li class="center-list-task">
                @* 任务详情 *@
                 <div class="details">                
                    <i class="iconfont-details iconfont">&#xe61e;</i>
                    <a class="details-name" href="javascript:void(0);">衣服订单下订单你下了吗</a>
                </div>
                <div class="stage details-stage">
                    任务:<label>材料</label>
                </div>
                <div class="stage">
                    <i class="iconfont-stage iconfont">&#xe612;</i>
                    <label>打样</label>
                </div>
                <div class="stage" >
                    <span class="time stage-time">2016-03-24 00:00:00</span>
                    <span class="time">2016-03-24 00:00:00</span>
                </div>                
            </li>
            <li class="last-stage">
                <div></div>
            </li>     
        </ul>
        <ul class="listabove row">
            <li>
                <img src="~/modules/images/10.jpg" />
            </li>     
            <li class="center-list-task">
                @* 任务详情 *@
                 <div class="details">                
                    <i class="iconfont-details iconfont">&#xe61e;</i>
                    <a class="details-name" href="javascript:void(0);">衣服订单下订单你下了吗</a>
                </div>
                <div class="stage details-stage">
                    任务:<label>材料</label>
                </div>
                <div class="stage">
                    <i class="iconfont-stage iconfont">&#xe612;</i>
                    <label>打样</label>
                </div>
                <div class="stage" >
                    <span class="time stage-time">2016-03-24 00:00:00</span>
                    <span class="time">2016-03-24 00:00:00</span>
                </div>                
            </li>
            <li class="last-stage">
                <div></div>
            </li>     
        </ul>
        <ul class="listabove row">
            <li>
                <img src="~/modules/images/10.jpg" />
            </li>     
            <li class="center-list-task">
                @* 任务详情 *@
                 <div class="details">                
                    <i class="iconfont-details iconfont">&#xe61e;</i>
                    <a class="details-name" href="javascript:void(0);">衣服订单下订单你下了吗</a>
                </div>
                <div class="stage details-stage">
                    任务:<label>材料</label>
                </div>
                <div class="stage">
                    <i class="iconfont-stage iconfont">&#xe612;</i>
                    <label>打样</label>
                </div>
                <div class="stage" >
                    <span class="time stage-time">2016-03-24 00:00:00</span>
                    <span class="time">2016-03-24 00:00:00</span>
                </div>                
            </li>
            <li class="last-stage">
                <div></div>
            </li>     
        </ul>
    </div>
</body>
</html>

