@{
    ViewBag.Title="我的任务";
    var UserID=ViewBag.UserID;
    var v = DateTime.Now.Ticks;
}
@section css{
    <link href="/modules/css/task/list.css" rel="stylesheet" />
    <link href="/modules/plug/dataTimePicker/dev/css/mobiscroll.core-2.5.2.css" rel="stylesheet" />
    <link href="/modules/plug/dataTimePicker/dev/css/mobiscroll.animation-2.5.2.css" rel="stylesheet" />
}

@section scripts{
    <script src="/modules/scripts/api.js?v=@v" type="text/javascript"></script>
    <script src="/modules/scripts/sha1.js?v=@v"  type="text/javascript"></script>
    <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2.js"></script>
    <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.core-2.5.2-zh.js"></script>
    <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1.js"></script>
    <script src="/modules/plug/dataTimePicker/dev/js/mobiscroll.datetime-2.5.1-zh.js"></script>

    <script type="text/javascript">
        seajs.use("/modules/scripts/task/list.js", function (data) {
            data.init();
        });

        apiready = function () {
            var userId = $("#txt-userID").val();
            var push = api.require('push');
            push.bind({
                userName: 'testName',
                userId: userId
            }, function (ret, err) {
                if (ret.status) {
                } else {
                    console.log("push bind err:"+err.msg);
                }
            });
        }
</script>
}
<div class="shade"></div>
<div class="search"> 
    <div class="search-box">
        <span class="iconfont">&#xe605;</span>
        <input type="text" class="txt-search" placeholder="请输入任务名称搜索" />
    </div>
    <div class="btn-search">确定</div>
</div>
<div class="topbar">
<ul class="header">
    <li class="btn-menu header-li">
        <div class="iconfont iconfont-menu">&#xe60d;</div>
        <span class="login-name long"></span>
        <ul class="menu-box">
            <li>
                <a href="/Home/Logout">退出</a>
            </li>
        </ul>
    </li>
    <li class="header-li li-task-filtertype">
        <div class="btn-task-filtertype">
        <div class="left font16">我的任务</div>
        <div class="iconfont left">&#xe61c;</div>
        <ul class="task-filtertype">
            <li data-filtertype="1">我的任务</li>
            <li data-filtertype="2">参与任务</li>
        </ul>
        </div>
    </li>
    <li class="header-li  btnsearch" style="margin-top:10px;">
        <div class="iconfont iconfont-search">&#xe605;</div>
    </li>
</ul>
 
<ul class="task-status">
    <li data-status="0" class="hover">
        <div class="ico-status iconfont">&#xe61e;</div>
        <a>未接受</a>
    </li>
    <li data-status="1">
        <div class="ico-status iconfont">&#xe621;</div>
        <a>进行中</a>
    </li>
    <li data-status="2">
        <div class="ico-status iconfont">&#xe61f;</div>
        <a>已完成</a>
    </li>
    <li data-status="-1">
        <div class="ico-status iconfont">&#xe61b;</div>
        <a>全部</a>
    </li>
    <div class="clear"></div>
</ul>

<ul class="filter-task">
    <li class="type" data-id="order-type">
        <a class="type-span">订单类型</a>
        <i class="iconfont-select iconfont">&#xe61c;</i>
    </li>
    <li class="type" data-id="task-colormark">
        <a class="colormark-span">颜色标记</a>
        <i class="iconfont-select iconfont">&#xe61c;</i>
    </li>
    <li class="select-sort" data-id="task-sort" style="border-right:none;width:34%">
        <a class="sort-span">排序</a>        
        <i class="iconfont-select iconfont">&#xe61c;</i>    
    </li> 
    <div class="clear"></div>
</ul>

<div class="dropdownlist"> 
    <ul class="potion order-type">             
        <li data-id="-1">全部</li>                 
        <li data-id="1">打样</li>
        <li data-id="2">大货</li>                        
    </ul>
    <ul class="potion task-colormark">             
        <li data-id="-1">全部</li>                                  
    </ul>   
    <ul class="potion task-sort">                                        
        <li class="tasktime" data-takepo="1" data-id="1">到期时间正序</li>
        <li class="tasktime" data-takepo="0" data-id="1">到期时间倒序</li>
        <li class="tasktime" data-takepo="1" data-id="0">创建时间正序</li>
        <li class="tasktime" data-takepo="0" data-id="0">创建时间倒序</li>
    </ul>  
</div>
</div>

<div class="list"><div class="clear"></div></div>
    
<div class="getback">
    <div class="iconfont-back iconfont">&#xe643;</div>
</div>
<input type="hidden" id="txt-userID" value="@UserID" />


