@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>任务列表</title>
    <link href="~/modules/css/common.css" rel="stylesheet" />    
    <link href="~/modules/css/task/tasklist.css" rel="stylesheet" />
    <link href="~/modules/iconfont/ux_1459999176_0237274/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/sea.js"></script>
    <script type="text/javascript">
        seajs.use("/modules/scripts/task/tasklist.js", function (data) {
            data.init();
        });
    </script>
</head>
<body>
    <header>
        <ul>
            <li class="menu"><i class="iconfont">&#xe60d;</i></li>
            <li class="mytask">我的任务</li>
            <li class="searth"><i class="iconfont-sousuo">&#xe605;</i></li>
        </ul>
    </header>
    <div class="condition">
        <ul>
            <li class="all">
                <div class="all_smallphoto"><i class="iconfont-all">&#xe61b;</i></div>
                <a class="all-a">全部</a>
            </li>
            <li class="unreceived">
                <div class="exround">
                    <div class="inquadrangle"></div>
                </div>
                <a class="unreceived-a">未接受</a>
            </li>
            <li class="underway">
                <div class="underway_smallphoto"><i class="iconfont-underway" id="iconfont-underway">&#xe620;</i></div>
                <a class="underway-a">进行中</a>
            </li>
            <li class="accomplish">
                <div class="accomplish_smallphoto"><i class="iconfont-underway" id="iconfont-underway-accom">&#xe61f;</i></div>
                <a class="accomplish-a">已完成</a>
            </li>
        </ul>
    </div>
    <div class="select">
        <div class="type">
            <a class="type-a">类型</a>
            <div class="copy"><i class="iconfont-select" id="iconfont-type">&#xe61c;</i></div>
        </div>
        <div class="type-ddl">
            我的类型
        </div>
        <div class="flow">
            <a class="flow-a">流程</a>
            <div class="copy"><i class="iconfont-select" id="iconfont-flow">&#xe61c;</i></div>
        </div>
        <div class="flow-ddl">
            我的流程
        </div>
        <div class="screen">
            <a class="screen-a">筛选</a>
            <div class="copy"><i class="iconfont-select" id="iconfont-screen">&#xe61c;</i></div>
        </div>
        <div class="screen-ddl">
            我的筛选
        </div>
        <div class="advanced-screen">
            <a>高级筛选</a>            
        </div> 
        <div class="advanced-ddl">
            高级筛选
        </div>      
    </div>
    <div class="list">
        <div class="listabove">
            <img class="imgabove" src="~/modules/images/10.jpg" />
            <div class="details">                
                <div class="details_exround">
                    <div class="details_inquadrangle"></div>
                </div>
                <div class="details_taskname">
                    <a class="details_name" href="javascript:;">衣服订单下订单你下了吗</a>
                </div>
                <div class="pressing"></div>
                <div class="stage">
                    <a>任务</a>:<a>材料</a>
                </div>
                <div class="stage_details">
                    <i class="iconfont-select">&#xe612;</i>
                    <a class="stage_specific">打样</a>
                </div>
                <div class="start_time"><a>2016-03-24 00:00:00</a></div>
                <div class="end_time"><a>2016-03-24 00:00:00</a></div>
            </div>
        </div>
        <div class="listabove" id="listmiddle">
            <img class="imgabove" id="imgmiddle" src="~/modules/images/2903.jpg" />
            <div class="details">                
                <div class="details_middle"><i class="iconfont-middle">&#xe621;</i></div>
                <div id="details-font" class="details_taskname">
                    <a class="details_name" href="javascript:;">阿里巴巴旗下最新上线一个平台</a>
                </div>
                <div class="pressing"></div>
                <div class="stage">
                    <a>任务</a>:<a>制版</a>
                </div>
                <div class="stage_details">
                    <i class="iconfont-select">&#xe612;</i>
                    <a class="stage_specific">打样</a>
                </div>
                <div class="start_time"><a>2016-03-24 00:00:00</a></div>
                <div class="end_time"><a>2016-03-24 00:00:00</a></div>
            </div>
        </div>
        <div class="listabove" id="listlast">
            <img class="imgabove" id="imglast" src="~/modules/images/2e47.jpg" />
            <div class="details">                
                <div class="details_last">
                    <i class="iconfont-last">&#xe61f;</i>
                </div>
                <div  class="details_taskname">
                    <a class="details_name" href="javascript:;">淘工厂时代来啦你准备好啦吗</a>
                </div>
                <div class="stage">
                    <a>任务</a>:<a>制版</a>
                </div>
                <div class="stage_details">
                    <i class="iconfont-select">&#xe60f;</i>
                    <a class="stage_specific">大货</a>
                </div>
                <div class="start_time"><a>2016-03-24 00:00:00</a></div>
                <div class="end_time"><a>2016-03-24 00:00:00</a></div>
            </div>
        </div>
    </div>
</body>
</html>

