@{
    ViewBag.Title="我的任务";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <title></title>
    <link href="~/modules/css/task/tasklist.css" rel="stylesheet" />        
    <script src="~/modules/scripts/font.js"></script>
    <script type="text/javascript">
        seajs.use("/modules/scripts/task/tasklist.js", function (data) {
            data.init();
        });
    </script>
</head>
<body>
    @* 透明遮罩 *@
    <div class="mask-shade"></div>
    @* 遮罩 *@
    <div class="shade"></div>
    <div class="search"> 
        <span class="span-search"><input type="text" class="txt-search" placeholder="请输入任务名称搜索" /></span>
        <span class="cencal">确定</span>
    </div>
    
    @* 头部 *@
    <ul class="header">
        <li class="login-menu"><div class="iconfont">&#xe60d;</div><span class="login-name long"></span></li>
        <li><span>我的任务</span></li>
        <li><div class="iconfont iconfont-search">&#xe605;</div></li>
    </ul>

    <ul class="login" data-login="0">
        <li>
            <span class="exit">退出</span>
        </li>
    </ul>
    @* 选择状态 *@
    <ul class="task-status">
        <li data-status="-1">
            <div class="ico-status iconfont">&#xe61b;</div>
            <a>全部</a>
        </li>
        <li data-status="0">
            <div class="ico-status iconfont">&#xe61e;</div>
            <a>未接受</a>
        </li>
        <li data-status="1">
            <div class="ico-status iconfont">&#xe621;</div>
            <a>进行中</a>
        </li>
        <li data-status="2">
            <div class="ico-status iconfont">&#xe61f;</div>
            <a>已完成</a>
        </li>
    </ul>
        
    @* 选项 *@  
    <ul class="select">
        <li class="copy type-LX" data-type="0">
            <a class="type-a">类型</a>
            <i class="iconfont-select">&#xe61c;</i>
        </li>
        <li class="copy flow-LC" data-flow="0">
            <a class="flow-a">流程</a>
            <i class="iconfont-select">&#xe61c;</i>
        </li>
        <li class="copy screen-JD" data-screen="0">
            <a class="screen-a">流程阶段</a>
            <i class="iconfont-select">&#xe61c;</i>
        </li>
        <li class="copy select-copy" data-select="0">
            <a class="sort-a">排序</a>        
            <i class="iconfont-select">&#xe61c;</i>    
        </li> 
    </ul>

    @* 选项下拉 *@    
    <div class="dropdownlist">
        @* 类型下拉 *@   
        <ul class="potion tab-type">                    
            <li data-id="-1">全部</li>                 
            <li data-id="1">打样</li>
            <li data-id="2">大货</li>                        
        </ul>   
        @*流程下拉*@ 
        <ul class="potion flow-type">                     
            <li class="all-flow" data-id="-1">全部流程</li>                            
        </ul>  
        @* 流程阶段下拉 *@
        <ul class="potion screen-type"> 
                           
        </ul>
        @* 排序 *@
        <ul class="potion tab-screen">                                        
            <li class="tasktime" data-takepo="1" data-id="1">到期时间正序</li>
            <li class="tasktime" data-takepo="0" data-id="1">到期时间倒序</li>
            <li class="tasktime" data-takepo="1" data-id="0">创建时间正序</li>
            <li class="tasktime" data-takepo="0" data-id="0">创建时间倒序</li>
        </ul>  
    </div> 

    @* 任务列表 *@
    <div class="list">
        
    </div>    
    @* 回到顶部 *@
    <div class="getback">
        <div class="iconfont-back">&#xe643;</div>
        <span>返回顶部</span>
    </div>


</body>
</html>

