<table id="navCosts" class="table-list mTop10 nav-partdiv hide navCosts" data-quantity="1">
    <tr class="tr-header">
        <td class="tLeft">描述</td>
        <td class="">金额</td>
        <td class="">添加日期</td>
    </tr>
</table>