<table id="navSendDoc" class="nav-partdiv table-items-detail mTop10 hide navSendDoc">
    <tr class="tr-header table-header">
        <td class="tLeft">规格</td>
        <td class="">发货数量</td>
        <td class="width150">发货人</td>
        <td>小计</td>
    </tr>
</table>