<table id="navSendDYDoc" class="nav-partdiv table-list mTop20 hide navSendDYDoc">
    <tr class="tr-header">
        <td class="tLeft">单号</td>
        <td class="width150">发货人</td>
        <td class="width200">发货时间</td>
    </tr>
</table>