<div class="navSewnDoc" id="docInfo">
    @if(!string.IsNullOrEmpty(Model))
    {
        <div class="row">
            <span class="btn right show-goods mRight10">车缝录入</span>
        </div>
        <div class="task-operate-module">
            
        </div>
    }
    <div id="navSewnDoc" class="nav-partdiv">
    
    </div>
</div>