{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
        if(item.DocType==11){
            var total=item.Quantity;
            for(var k=0;k<item.Details.length;k++)
            {
                var quantity=item.Details[k].ReturnQuantity;
                total-=quantity;
            }
        }
%}
<div class="doc-item mLeft10 mRight10">
    <div class="doc-header">
        <span class="left">{%=item.DocType==11?"车缝："+total:"裁剪："+item.Quantity%}</span>
        <span class="right mRight30">{%=item.Owner.Name+'&nbsp;&nbsp;'+item.CreateTime.toDate('yyyy/MM/dd')%}</span>
        <div class="clear"></div>
        <div class="lump"></div>
    </div>
    <div class="doc-content hide">
        {%
        for(var j=0;j<item.Details.length;j++)
        {
            var detail=item.Details[j];
        %}
        <ul>
            <li class="mRight10 long" style="width:100%;">
                <span style="display:inline-block;width:60px;">规&nbsp;&nbsp;&nbsp;格：</span>{%=detail.Remark%}      
            </li>
            <li>
                <span style="display:inline-block;width:60px;">{%=(item.DocType==11?"车缝":"裁剪")%}数：</span>{%=detail.Quantity%}
            </li>
            {%if(item.DocType==11){%}
            <li class=" mRight10">
                <span style="display:inline-block;width:60px;">退回数：</span>{%=detail.ReturnQuantity%}
            </li>
            {%}%}
            <div class="clear"></div>
        </ul>
        {%}%}
    </div>
</div>
{%}%}