{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
%}
<div class="doc-item">
    <div class="doc-header" style="display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
        <span class="">{%=(!item.ExpressCode?item.Express.Name:item.ExpressCode+'&nbsp;&nbsp;('+item.Express.Name+')')%}</span>
        <div class="clear"></div>
        <div class="lump"></div>
    </div>
    <div class="doc-content hide">
        {%
        for(var j=0;j<item.Details.length;j++)
        {
            var detail=item.Details[j];
        %}
        <ul>
            <li class="mRight10 long" style="width:100%;">
                <span style="display:inline-block;width:60px;">规&nbsp;&nbsp;&nbsp;格：</span>{%=detail.Remark%}    
            </li>
            <li>
                <span style="display:inline-block;width:60px;">发货数：</span>{%=detail.Quantity%}
            </li>
            <div class="clear"></div>
        </ul>
            {%
            if(item.Details.length-1==j){
            %}
            <ul>
                <li>
                    <span class="left"><span style="display:inline-block;width:60px;">小&nbsp;&nbsp;&nbsp;计：</span>{%=item.Quantity%}</span>
                    <span class="right">{%=item.CreateUser.Name+'&nbsp;&nbsp;'+(item.CreateTime.toDate('yyyy/MM/dd'))%}</span>
                    <div class="clear"></div>
                </li>
            </ul>
            {%}%}
        {%}%}
    </div>
</div>
{%}%}