{%
    $items=$data.items;
    $userID=$data.userID;
    for(var i=0;i<$items.length;i++)
    {
        var item=$items[i];
        if(item.createUser.userID==$userID)
        {
%}
            <div class="send-self" >
                <div class="send-nameanddate">
                    <span>{%=item.createTime%}</span>
                    <span>{%=item.createUser.name%}</span>
                </div>
                <div class="clear"></div>
                <div class="talk-self">
                    <div class="self-pic">
                        <img src='{%=item.createUser.avatar==""?"/modules/images/defaultavatar.png":"http://dev.90cloudsales.com"+item.createUser.avatar%}' />
                    </div>
                    <div class="talk-lump"></div>
                    <p class="text-talk">
                        {%=
                        item.fromReplyUser!=null?(item.fromReplyUser.name==null?item.content:"@"+item.fromReplyUser.name+" "+item.content):item.content
                        %}
                    </p>
                    <div class="return-self">
                        <i class="iconfont" data-replyid="{%=item.replyID%}" data-agentid="{%=item.createUser.agentID%}"  data-userid="{%=item.createUser.userID%}" data-name="{%=item.createUser.name%}">&#xe611;回复</i>
                    </div>
                </div>
               
            </div>

      {%}
        else
        {    
      %}

            <div class="send-other">
                <div class="send-nameanddate">
                    <span>{%=item.createUser.name%}</span>
                    <span>{%=item.createTime%}</span>
                </div>

                <div class="talk-other">
                    <div class="other-pic">
                        <img src='{%=item.createUser.avatar==""?"/modules/images/defaultavatar.png":"http://dev.90cloudsales.com"+item.createUser.avatar%}' />
                    </div>
                    <div class="talk-lump"></div>
                    <p class="text-talk">{%=item.fromReplyUser.name==null?item.content:"@"+item.fromReplyUser.name+" "+item.content%}</p>
                    <div class="return-other">
                        <i class="iconfont" data-replyid="{%=item.replyID%}" data-agentid="{%=item.createUser.agentID%}"  data-userid="{%=item.createUser.userID%}" data-name="{%=item.createUser.name%}">&#xe611;回复</i>
                    </div>
                </div>
            </div>
      
       {%}
    }%}