{%
    for(i=0;i<$data.length;i++)
    {
        var item=$data[i];
%}
<div class="reply-box">
    <div class="reply-header">
        <div class="avatar left mTop10">
            <img onerror="$(this).attr('src','/modules/images/defaultavatar.png')" src="{%=item.createUser.avatar%}" />
        </div>
        <div class="left mLeft20">
            <p class="user-name blue">{%=item.createUser.name+(item.fromReplyUser?item.fromReplyUser.name?'&nbsp;@&nbsp;'+item.fromReplyUser.name:'':'')%}</p>
            <p class="create-time color999">{%=item.createTime%}</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="reply-content mTop10">
        {%=item.content%}
    </div>
    <div class="reply-attachment mTop20">
        <ul>
            <li class="mTop10">
                <img src="/modules/images/test.jpg" />
            </li>
            <li class="file-attachment mTop10">
                <div class="lump-box ppt">
                    <div class="layer-type">
                        P
                       <div class="lump ppt"></div>
                    </div>
                </div>
                <div class="describe-box">
                    我是一个PPT.ppt
                </div>
                <div class="clear"></div>
            </li>
            <li class="file-attachment mTop10">
                <div class="lump-box ppt">
                    <div class="layer-type">
                        P
                       <div class="lump ppt"></div>
                    </div>
                </div>
                <div class="describe-box">
                    我是一个PPT.ppt
                </div>
                <div class="clear"></div>
            </li>
            <li class="file-attachment mTop10">
                <div class="lump-box ppt">
                    <div class="layer-type">
                        P
                       <div class="lump ppt"></div>
                    </div>
                </div>
                <div class="describe-box">
                    我是一个PPT.ppt
                </div>
                <div class="clear"></div>
            </li>
            <li class="file-attachment mTop10">
                <div class="lump-box ppt">
                    <div class="layer-type">
                        P
                       <div class="lump ppt"></div>
                    </div>
                </div>
                <div class="describe-box">
                    我是一个PPT.ppt
                </div>
                <div class="clear"></div>
            </li>
            <li class="file-attachment mTop10">
                <div class="lump-box zip">
                    <div class="layer-type">
                        ZIP
                       <div class="lump zip"></div>
                    </div>
                </div>
                <div class="describe-box">
                    我是一个ZIP.zip
                </div>
                <div class="clear"></div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="return-reply right mTop10">
        <i class="iconfont" data-replyid="{%=item.replyID%}" data-agentid="{%=item.createUser.agentID%}"  data-userid="{%=item.createUser.userID%}" data-name="{%=item.createUser.name%}" >&#xe611;回复</i>
    </div>
    <div class="clear"></div>
</div>
{%}%}