{%
    for(var i=0;i<$data.length;i++)
    {
%}
<div class="send-other">
    <div class="send-nameanddate">
        <span>小明</span>
        <span>2016-04-08 10:36:58</span>
    </div>

    <div class="talk-other">
        <div class="other-pic">
            <img src="~/modules/images/default-user.gif" />
        </div>
        <div class="talk-lump"></div>
        <p class="text-talk">今天吃啥</p>
        <div class="return-other">
            <i class="iconfont">&#xe611;回复</i>
        </div>
    </div>
</div>

<div class="send-self">
    <div class="send-nameanddate">
        <span>2016-04-08 10:36:58</span>
        <span>李涛</span>
    </div>

    <div class="talk-self">
        <div class="self-pic">
            <img src="~/modules/images/default-user.gif" />
        </div>
        <div class="talk-lump"></div>
        <p class="text-talk">吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃</p>
    </div>
</div>