{%
for(var i=0;i<$data.length;i++)
{
	    var item = $data[i];
        var extension=item.name.split('.');
        var extensionName=extension[extension.length-1];
        var attachmentUrl="/modules/images/"+(
                                            extensionName=="pdf"?"ico-attachment-pdf.png":
                                            extensionName=="ppt"?"ico-attachment-ppt.png":
                                            extensionName=="psd"?"ico-attachment-psd.png":
                                            extensionName=="txt"?"ico-attachment-txt.png":
                                            extensionName=="xls"||extensionName=="xlsx"?"ico-attachment-excel.png":
                                            extensionName=="rar"||extensionName=="zip"?"ico-attachment-rar.png":
                                            extensionName=="doc"||extensionName=="docx"?"ico-attachment-word.png":""
                                            );
    
%}
        <li id="li_{%=item.id%}" data-isimg="2">
            <div class="upload-lump left" style="background:url('{%=attachmentUrl%}') no-repeat 17px 20px;background-size:40px;background-color:#efefef;top:5px;"> 
            </div>
            <div class="information left mLeft20" style="width:170px;">
                <span title="{%=item.name%}" class="long" style="width:170px;margin-bottom:15px;margin-top:4px;">{%=item.name%}</span>
                <span class="progress-file center" style="overflow:hidden;width:100%;position:relative;border:1px solid #ccc;height:24px;line-height:24px;display:block;border-radius:3px;">
                    <span class="run-progress mark-progress" style="display:block;background-color:#efefef;width:0;height:24px;position:absolute;left:0;top:0;"></span>
                    <span class="progress-number mark-progress" style="position:relative;z-index:10;">0%</span>
                </span>
                <span class="file-size hide">{%=item.size/1024/1024<1?(item.size/1024).toFixed(2)+"KB":(item.size/1024/1024).toFixed(2)+"MB"%}</span>
            </div>
            <div class="clear"></div>
            <span class="ico-delete-file qn-delete iconfont hide">&#xe628;</span>
        </li>
{%}%}