<table class="table-list hide goods-items">
    <tr class="tr-header">
        <td class="tLeft">规格</td>
        <td class="tLeft width100"><span>已裁剪</span>/<span class="red">已车缝</span></td>
        <td class="tRight">车缝数</td>
    </tr>
{%
    for(var i=0, j=$data.length; i < j; i++)
    {
        var item=$data[i];
%}
    <tr data-id="{%=item.AutoID%}" class="list-item">
        <td class="remark">{%=item.Remark%}</td>
        <td class="tLeft" style="text-indent:5px;"><span class="cut-quantity">{%=item.CutQuantity%}</span>/<span class="red sewn-quantity">{%=item.Complete%}</span></td>
        <td class="tRight">
            <input type="tel" class="quantity" style="width:40px;text-align:center;padding:3px 0px;" value="0" />
        </td>
    </tr>
    {%if(i==j-1&&j>0){%}
    <tr>
        <td colspan="3">
            <div class="add-doc btn right">车缝录入</div>
            <div class="clear"></div>
        </td>
    </tr>
{%}}%}
</table>
