{%
    for(var i=0;i<$data.length;i++)
    { 
    var item=$data[i];
%}
        <ul class="listabove row">
            <li>
                <a href="/Task/Detail/{%=item.taskID%}"><img onerror="this.src='/modules/images/img-noimg.png'" src='{%=item.orderImg==""?"/modules/images/img-noimg.png":item.orderImg%}' /></a>
            </li>     
            <li class="center-list-task">
                <!--任务详情-->
                <div class="details">        
                     <!-- 状态图标 -->           
                    {%   if (item.finishStatus==0) {      %}
                        <i class="iconfont-details iconfont">&#xe61e;</i>
                    {%   }  else if (item.finishStatus==1) {      %}
                        <i class="iconfont-details iconfont color333" >&#xe621;</i>
                    {%   }  else {      %}
                        <i class="iconfont-details iconfont color333" >&#xe61f;</i>
                    {%   }  %}                                      
                   <a class="color333" href="/Task/Detail/{%=item.taskID%}">{%=item.title%}</a>
                </div>

                 {%   if (item.finishStatus==0) {      %}
                        <div class="stage">
                            <span>订单款号:</span>
                            <span></span>
                        </div>
                        <div class="stage" >
                            <span>上级任务:</span>     
                            <span>{%=item.preTitle%}</span>
                            <span>({%=item.finishStatus==0?"未接受":item.finishStatus==1?"进行中":"已完成"%})</span>                    
                        </div>
                       <!-- <div class="stage">
                            <span>上级进度:</span>     
                            <span>
                                 {%   if (item.finishStatus==0) {      %}
                                    未接受
                                {%   }  else if (item.finishStatus==1) {      %}
                                    进行中
                                {%   }  else {      %}
                                    已完成
                                {%   }  %} 
                            </span>                                
                        </div>  -->
                        <div class="stage">
                            <span>交货日期:</span>   
                            <span>{%=item.pEndTime==""?"未设置":item.pEndTime%}</span>                              
                        </div>       
                    {%   }  else if (item.finishStatus==1) {      %}
                        <div class="stage" >
                            <span>接受:</span>     
                            <span>{%=item.acceptTime==""?"未接受":item.acceptTime%}</span>                    
                        </div>
                        <div class="stage">
                            <span>交货:</span>     
                            <span>{%=item.endTime==""?"未设置":item.endTime%}</span>                                
                        </div>  
                        <div class="stage">
                            <span>上级任务:</span>   
                            <span>{%=item.preTitle%}</span>                              
                        </div>
                    {%   }  else {      %}
                        <div class="stage" >
                            <span>接受:</span>     
                            <span>{%=item.acceptTime==""?"未接受":item.acceptTime%}</span>                    
                        </div>
                        <div class="stage">
                            <span>到期:</span>     
                            <span>{%=item.endTime==""?"未设置":item.endTime%}</span>                                
                        </div>  
                        <div class="stage">
                            <span>完成:</span>   
                            <span>{%=item.completeTime==""?"未完成":item.completeTime%}</span>                              
                        </div>
                    {%   }  %}                                                 
            </li>
            <li class="last-stage"> 
                {%   if (item.finishStatus==0) {      %}
                    <div class="btn-acceptTaskTime" data-id="{%=item.taskID%}" data-num="0">接受任务</div>
                {%   }  else if (item.finishStatus==1) {      %}
                    <div class="btn-acceptTaskTime" data-id="{%=item.taskID%}" data-num="1">完成任务</div>
                {% }%}
                    <i class="iconfont left">{%=item.orderType==1?"&#xe612;":"&#xe60f;"%}</i>
                    <div class="order-type">{%=item.orderType==1?"打样":"大货"%}</div>
                    <!-- 标记颜色 -->
                    <div class="tag-make" style="background-color:{%=item.colorValue%}"></div>  
                    
            </li>     
        </ul>
{%}%}

