{%
    for(var i=0;i<$data.length;i++)
    {  

%}
        <ul class="listabove row">
            <li>
                <img src="../modules/images/3f14cfebe8d73561b2dcea1123cae748[1].JPG" />
            </li>     
            <li class="center-list-task">
                 <!--任务详情-->
                 <div class="details">                   
                    <!--{%   if ({%=$data[i].finishStatus%}==0) {      %}
                        <i class="iconfont-details iconfont">&#xe61e;</i>
                    {%   }  else if ({%=$data[i].finishStatus%}==1) {      %}
                        <i class="iconfont-details iconfont">&#xe621;</i>
                    {%   }  else {      %}
                        <i class="iconfont-details iconfont">&#xe61f;</i>
                    {%}%}-->

                   <i class="iconfont-details iconfont">{%=$data[i].finishStatus==0?"&#xe61e;":"&#xe621;"%}</i>                    
                   <a class="details-name" href="~/Task/Detail?userID=BC6802E9-285C-471C-8172-3867C87803E2&">{%=$data[i].taskID%}</a>
                </div>
                <div class="stage details-stage">
                    任务:<label class="material">{%=$data[i].title%}</label>
                </div>
                <div class="stage" >
                    <label>接受:</label>
                    <span class="time stage-time">{%=$data[i].createTime%}</span>
                </div>
                <div class="stage">
                    <label>到期:</label>
                    <span class="time">{%=$data[i].endTime%}</span>
                </div>                
            </li>
            <li class="last-stage">                
                <div class="{%=$data[i].colorMark==0?"orange-tag":"red-tag"%}"></div>                
                <div class="shape">                    
                    <div class="style-i"><i class="iconfont-stage iconfont">{%=$data[i].orderType==1?"&#xe612;":"&#xe60f;"%}</i></div>
                    <div class="style-lable"><span class="DY">{%=$data[i].orderType==1?"打样":"大货"%}</span></div>     
                </div>
            </li>     
        </ul>
   
{%  
     }
%}
