{%
    for(var i=0;i<$data.length;i++)
    {
        var data=$data[i];
%}
<div class="doc-item">
    <div class="doc-header">
        <span class="left">{%=data.ProductName==""?"未设置":data.ProductName%}</span>
        <span class="right mRight15">{%=data.PlanQuantity%}</span>
        <div class="clear"></div>
        <div class="lump"></div>
    </div>
    <div class="doc-content hide">
        <ul>
            <li class="mRight10 long" style="width:100%;">
                <span style="display:inline-block;width:60px;">编&nbsp;&nbsp;&nbsp;码：</span>{%=data.DetailsCode==""?"--":data.DetailsCode%}
            </li>
            <li class="mRight10 long" style="width:100%;">
                <span style="display:inline-block;width:60px;">规&nbsp;&nbsp;&nbsp;格：</span>{%=data.Remark==""?"--":data.Remark%}    
            </li>
            <li>
                <span style="display:inline-block;width:60px;">单&nbsp;&nbsp;&nbsp;位：</span>{%=data.UnitName==""?"--":data.UnitName%}
            </li>
            <li>
                <span style="display:inline-block;width:60px;">单&nbsp;&nbsp;&nbsp;价：</span>{%=data.Price%}
            </li>
            <li class="mRight10 long" style="width:100%;">
                <span style="display:inline-block;width:60px;">单件消耗：</span>{%=data.Quantity%}    
            </li>
            <li>
                <span style="display:inline-block;width:60px;">采购量：</span>{%=data.PlanQuantity%}
            </li>
            <li class="mRight10 long" style="width:100%;">
                <span style="display:inline-block;width:60px;">小&nbsp;&nbsp;&nbsp;计：</span>{%=data.TotalMoney%}    
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
{%}%}