{%
    for(var i=0;i<$data.length;i++)
    { 
    var item=$data[i];
%}
        <ul class="listabove row">
            <li style="position:relative;width:145px;margin-bottom:15px;height:124px;float:left;">
                <a href="/Task/Detail/{%=item.taskID%}"><img class="task-list-img" onerror="this.src='/modules/images/img-noimg.png'" data-src='{%=item.orderImg==""?"/modules/images/img-noimg.png":item.orderImg%}' /></a>
            </li>     
            <li class="center-list-task">
                <!--任务详情-->
                <div>
                    <div class="details">   
                        <div class="left mTop10">
                            <!-- 状态图标 -->           
                            {%   if (item.finishStatus==0) {      %}
                                <i class="iconfont-details iconfont" id="iconFontDetails_{%=item.taskID%}">&#xe61e;</i>
                            {%   }  else if (item.finishStatus==1) {      %}
                                <i class="iconfont-details iconfont color333" id="iconFontDetails_{%=item.taskID%}" >&#xe621;</i>
                            {%   }  else {      %}
                                <i class="iconfont-details iconfont color333" id="iconFontDetails_{%=item.taskID%}" >&#xe61f;</i>
                            {%   }  %}                                      
                            <a class="color333" href="/Task/Detail/{%=item.taskID%}">{%=item.title%}</a>
                        </div>     
                        <div class="right mTop10">
                            {%   if (item.finishStatus==0) {      %}
                                <input class="btn-acceptTaskTime" id="btnAcceptTaskTime_{%=item.taskID%}" readonly="readonly" data-id="{%=item.taskID%}" type="text" value="接受任务" />
                            {%   }  else if (item.finishStatus==1) {      %}
                                <input class="btn-finishTask" id="btnFinishTask_{%=item.taskID%}" readonly="readonly" data-id="{%=item.taskID%}" type="text" value="标记完成" />
                            {% }%}
                        </div>
                    </div>                
                 {%   if (item.finishStatus==0) {      %}
                        <div class="stage">
                            <span class="left">订单款式:</span>
                            <span class="Long"">{%=item.order.goodsCode%}--{%=item.order.goodsName%}</span>
                        </div>                                              
                        <div class="stage">
                            <span>交货日期:</span>   
                            <span>{%=item.order.planTime%}</span>  
                            <div class="order-type-label">{%=item.orderType==1?"打样":"大货"%}</div>
                            <i class="iconfont right" style="line-height:26px;">{%=item.orderType==1?"&#xe612;":"&#xe60f;"%}</i>                            
                        </div>     
                        <div class="stage" >
                            <div class="left">
                                <span>上级任务:</span>     
                                <span>{%=item.preTitle==""?"--":item.preTitle%}</span>
                                {%  if (item.preTitle!="") {      %}
                                    <span>({%=item.preFinishStatus==0?"未接受":item.preFinishStatus==1?"进行中":"已完成"%})</span>  
                                {%   }  %} 
                            </div>
                            <div class="right">
                                <!--标记颜色--> 
                                {% if(item.colorValue.length>0){ %}
                                    <div class="tag-make" style="background-color:{%=item.colorValue%}"></div> 
                                {%   }  %}                              

                            </div>
                        </div>   
                    {%   }  else if (item.finishStatus==1) {      %}
                        <div class="stage">
                            <span class="left">订单款式:</span>
                            <span class="Long"">{%=item.order.goodsCode%}--{%=item.order.goodsName%}</span>
                        </div>                                               
                        <div class="stage">
                            <span>交货日期:</span>   
                            <span>{%=item.order.planTime%}</span> 
                            <div class="order-type-label">{%=item.orderType==1?"打样":"大货"%}</div>
                            <i class="iconfont right" style="line-height:26px;">{%=item.orderType==1?"&#xe612;":"&#xe60f;"%}</i>                             
                        </div>  
                        <div class="stage" >
                            <div class="left">
                                <span>上级任务:</span>     
                                <span>{%=item.preTitle==""?"--":item.preTitle%}</span>
                                {%  if (item.preTitle!="") {      %}
                                    <span>({%=item.preFinishStatus==0?"未接受":item.preFinishStatus==1?"进行中":"已完成"%})</span>  
                                {%   }  %} 
                            </div>
                            <div class="right">
                                <!--标记颜色--> 
                                {% if(item.colorValue.length>0){ %}
                                    <div class="tag-make" style="background-color:{%=item.colorValue%}"></div> 
                                {%   }  %}                              
                                
                            </div>
                        </div>
                    {%   }  else {      %}
                        <div class="stage">
                            <span class="left">订单款式:</span>
                            <span class="Long"">{%=item.order.goodsCode%}--{%=item.order.goodsName%}</span>
                        </div>                                              
                        <div class="stage">
                            <span>交货日期:</span>   
                            <span>{%=item.order.planTime%}</span>                              
                        </div> 
                        <div class="order-type-label">{%=item.orderType==1?"打样":"大货"%}</div>
                        <i class="iconfont right" style="line-height:26px;">{%=item.orderType==1?"&#xe612;":"&#xe60f;"%}</i> 
                        <div class="stage" >
                            <div class="left">
                                <span>上级任务:</span>     
                                <span>{%=item.preTitle==""?"--":item.preTitle%}</span>
                                {%  if (item.preTitle!="") {      %}
                                    <span>({%=item.preFinishStatus==0?"未接受":item.preFinishStatus==1?"进行中":"已完成"%})</span>  
                                {%   }  %} 
                            </div>
                            <div class="right">
                                <!--标记颜色--> 
                                {% if(item.colorValue.length>0){ %}
                                    <div class="tag-make" style="background-color:{%=item.colorValue%}"></div> 
                                {%   }  %}                              

                            </div>
                        </div>
                    {%   }  %} 

                </div>                                                
            </li>           
        </ul>
{%}%}

