body { background-color:#fff;font-size:14px;}

header { width:100%;background-color:#f8f8f8;line-height:60px;}
header .task-text {color:#373737;text-align:center;}

/*alert 弹出层样式*/
.alert {background-color: #333;opacity:0.8; font-size: 13px; position: fixed; top:35%; z-index: 99999; 
         padding:20px;padding-left:40px;  overflow:auto; border-radius:5px;min-width:140px;max-width:260px;}
.alert .alert-wrap { word-wrap: break-word;  word-break:break-all;color:#fff;font-size:14px;}
.alert-wrap .alert-icon-right:before {content:"\e613";}
.alert-wrap .alert-icon-right {display:inline-block;color:#fefefe;font-size:20px;}
.alert-wrap .alert-icon-warn:before {content:"\e64a";}
.alert-wrap .alert-icon-warn {display:inline-block;color:#fefefe;font-size:20px;}
.alert-wrap .alert-msg {display:inline-block;color:#fff;font-size:16px;line-height:16px; padding:0 20px 0 15px;}
.alert-wrap .alert-close:before {content:"\e628";}
.alert-wrap .alert-close {display:inline-block;color:#ddd;font-size:16px;padding-top:4px;cursor:pointer;}
.alert-wrap .alert-close:hover {color:#fff;}

.confirm-layer {position: fixed; z-index:99998; top:0; left:0;right:0; bottom:0; background-color:#000; opacity:0.7;}
.confirm { border: 1px solid #ccc; background-color: #fff; font-size: 13px; position: fixed; top:35%; z-index: 99999; width:260px; overflow:auto;padding:20px;border-radius:3px; }
.confirm .confirm-wrap { word-wrap: break-word;  word-break:break-all;font-size:16px;  }
.confirm .confirm-bottom { margin-top:20px; text-align:right; }
.confirm-bottom .sure { padding:10px 24px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:3px; }
.confirm-bottom .sure:hover {  background-color:#2F73B8;  }
.confirm-bottom .close { padding:5px 40px; color:#999; border:none; cursor:pointer; display:inline-block; }
.confirm-bottom .close:hover {color:#4a98e7; }

.btn {  padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; display:inline-block; border-radius:2px; line-height:18px;}

.header-btn {background-color:#2F73B8;border:1px solid #fff; color:#fff;text-align:center;font-size:16px;padding:6px; border-radius:2px;width:80px;
                                                              -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}

/*删除 叉*/
.ico-delete{ background:url(/modules/images/ico-delete.png) no-repeat; height:30px; min-width:30px; line-height:30px; 
    cursor:pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    border-radius:50%;
    background-size:30px;
}
.ico-delete-file{
    position: absolute;
    top: -14px;
    right: -8px;
    font-size: 14px !important;
    height: 28px;
    line-height: 30px;
    color: #999;
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin-top: 5px;
}

/*表格样式*/
.table-list { width: 100%; border-spacing: 0px;}

.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #e6e6e6;  font-weight:bold; color:#666; padding:0 5px;
                           white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr td:first-child{ text-indent:2px;}

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ width:80px; height:80px; display:inline-block;  vertical-align:middle;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }
.table-list .show-all-txt { word-wrap: break-word; white-space: normal !important; }

/*表格样式1-带详情*/
.table-items-detail { width:100%; border-spacing:0px; box-sizing:border-box;}
.table-items-detail td{ text-align:center; padding:0px 10px; }

.table-items-detail .table-header { background-color:#f1f1f1; height:35px; }
.table-items-detail .table-header td{ border-top:solid 1px #ddd;  border-bottom:solid 1px #ddd; color:#333; }

.table-items-detail .item-header { background-color:#f1f1f1; height:40px; }
.table-items-detail .item-header td{ border-top:solid 1px #ddd;  border-bottom:solid 1px #ddd; color:#333; }

.table-items-detail .item { height:50px;}
.table-items-detail .item.last td {  border-bottom:solid 1px #ddd; }

.table-items-detail .first-line-item{ height:50px; }
.table-items-detail .line-item { height:20px; }

.table-items-detail .bLeft { border-left:solid 1px #ddd; }
.table-items-detail .bRight { border-right:solid 1px #ddd; }
.table-items-detail .bBottom { border-bottom:solid 1px #ddd; }

.table-items-detail a { color:#333; }
.table-items-detail a:hover { color:red; }
.table-items-detail td img { max-width:120px;max-height:120px;}

/*暂无数据*/
.nodata-txt { padding: 40px 0px; font-size: 16px; text-align: center; color: #666; background-color:#fff; }

/*图片loading*/
.data-loading { padding: 80px 0px; font-size: 16px;text-align: center; color: #666; background:url(/modules/images/ico-loading.gif) no-repeat center center;background-size:45px 45px; background-color:#fff; }

.prompt {
line-height:60px;
}