
body { background-color: #fff; }

.login-body {width: 100%; height: 100%; position: fixed; }
.login-body .main { margin: 100px auto; width: 320px; background-color: #fff;opacity: 0.9;  }
.login-body .login-header { padding: 15px; }
.login-body .login-title {
line-height:25px;width:127px;margin:0 auto;
}
.login-body .login-bind {
line-height:25px;color:#333; text-align:center; font-size:16px;
}
.login-body .headerTitle {margin-left:5px; color:#4a98e7; text-align:center; font-size:16px;font-weight:bold; line-height:24px;}
.login-body .main .login{margin-top:25px;}
.login-body .main .login .loginbar{ width:100%;height:40px; margin:10px 0px; background-color:#fff;position:relative;}
.login-body .main .loginTitle {color:#4a98e7; text-align:center; font-size:22px;}
.login-body .loginbar .input{ width:308px;border:solid 1px #ccc;color:#333;}
.login-body .btnLogin { height:40px;line-height:40px; background-color:#4A98E7 ; color:#fff; font-size:16px; text-align:center;
border:none; font-weight:bold; cursor:pointer; display:inline-block; border-radius:3px; width:320px;}
.login-body .txtBoxPassword {font-size:12px; position: absolute; top: 0px; left: 0px; width: 298px;padding:0 5px; height: 40px; line-height: 40px; color: #999; display: block; }
.login-body .registerErr { width: 100%; height: 40px; margin: 10px 0px; background-color: #ffd0d0; line-height: 40px; text-align: center; 
                           color: red; border-radius: 3px; }

@media only screen and ( max-width:450px) {
    .login-body .main { margin: 80px auto; width: 260px; }
    .login-body .loginbar .input { width: 248px; }
    .login-body .btnLogin { width: 260px; }
}






